:root{
    /* CSS HEX */
--lavender-blush: #FFECF5ff;
--davys-grey: #565253ff;
--han-purple: #502FF8ff;
--amethyst: #A46AC7ff;
--cyclamen: #FA8C97ff
}
.loading{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #ffe2e2;
}
@font-face{
    font-family: myFont;
    src: url(sansation_light.woff);
}
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

.side-b{
    position: fixed;
    width: 300px;
    height: 100%;
    background-color: #e84393;
    background-image: linear-gradient(315deg, #fc288e 5%, #2e2d2d 80%);
    left: -300px;
    transition: 0.5s;
    display: flex;
    z-index: 99;
}
.side-b ul li{
    list-style: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    align-items: center;
    padding: 90px 70px;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.side-b ul li:hover{
    color: rgb(229, 255, 0);
    font-weight: bold;
    font-size: 18px;
}
.container-fluid{
    width: 50px;
    height: 600px;
    border-bottom: 1px black;
    border-bottom-right-radius: 30%;
    border-top-right-radius: 30%;
    background-color:#efbbcf;
    box-shadow:  0 8px 30px 0 #ffc7c7;
    top: 0;
    margin-bottom: 65px;
    z-index: 0;
    display: flex;
    justify-content: center;
}
#heading{
    display: flex;
    margin-top: 150px;
    margin-left: 1400px;
    font-size: 3em;
    justify-content: flex-end;
    font-family: 'Oswald', sans-serif;
    align-content: flex-end;
    font-weight: bold;
    font-display: flex;
}
.side-b.active{
    left: 0;
    transition: 0.5s ease-out;
}
.side-b .t-btn{
    position: fixed;
    top: -500px;
    left: 20px;
    cursor: pointer;
    margin-top: 400px;
}
.side-b .t-btn.a{
    left: 320px;
}
.side-b .t-btn.act{
    top: 0px;
    transition: 0.7s ease-out;
}
.t-btn span{
    width: 40px;
    padding: 3px;
    height: 4px;
    background-color: black;
    display: block;
    margin-top: 4px;
}
#img{
    width: 100px;
    height: 100px;
    margin-left: 85px;
}

#h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    border: 1px solid black;
    border-radius: 25px;
    background-color: #c3aed6;
    color: white;
    margin: 5px;
    padding: 5px;
    text-align: center;
}

.top{
    height: 100%;
    width: 100%;
}
.para{
    margin: 5px;
    padding: 5px;
    font-size: 1.2em;
    display: flex;
    text-align: center;
}
#para-2{
    display: flex;
    bottom: 35px;
    position: relative;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    text-align: center;
    font-size: 1.2em;
}
#para-3
{
    margin: 5px;
    padding: 5px;
    font-size: 1.2em;
    display: flex;
    text-align: center;
}
#carousel-example-1z{
    margin: 5px;
    padding: 5px;
}
#projects{
    margin: 5px;
}
.container-fluid img{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.gallery1{
    width: 100%;
    height: 200px;
    justify-content: space-around;
    display: flex;
    margin: 10px;
    padding: 10px;
}
.gallery2{
    width: 100%;
    height: 200px;
    display: flex;
    padding: 10px;
    justify-content: space-around;
    align-content: flex-start;
}
#cssi{
    width: 300px;
    height: auto;
    display: flex;
}
#jsi{
    width: 300px;
    height: auto;
}
#tbi{
    width: 300px;
    height: auto;
}
#hi
{
    width: 300px;
    height: auto;
}
